# AWS S3 Configuration (TEMPLATE - DO NOT PUT REAL KEYS HERE)
AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_KEY=your_aws_secret_key_here
AWS_S3_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=your_bucket_name_here
